extends layout

block content
	.container
		.error.alert.alert-danger Not logged in!! 
		//- include views/canvasControls
		include views/loader
		include views/login
		include views/account
		include views/viewport
	script(src="/lib/createjs.js")
	script(src="/lib/requirejs.js")
	script(src="/lib/requirejsconfig.js")
	script(src="/js/main.js")

