doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Assassins Landing
		script(src='/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css', type='text/css')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet', href='/css/main.css')
			
	body
		include nav
		block content
		