doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Assassins Landing
		script(src='/lib/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href='/css/build/main.css')
		link(rel="stylesheet", href="/lib/fontawesome/css/font-awesome.min.css")
			
	body
		block content
		