.character-stats.viewport-menu
	.stats-container
		.character-img.img: img(src="/characters/assassin-stats.png")
		.stats
			.character
			.hp
				| HP : 
				| &nbsp;
				span.total-hp
				| &nbsp;
				| \ 
				| &nbsp;
				span.current-hp
