.friends-area
	.friends
		.title Friends
			span.right: i.fa.fa-user-plus.add-friend(title="Add Friend", data-toggle='tooltip')
		.friends
			.friend(ng-if="isFriends(friend._id)", ng-repeat="friend in friends | orderBy:online")
				div: span(class="{{friend.status}}", ng-class="status{{friend._id}}")
				div {{friend.username}}
				div
					i.fa.fa-user-times(ng-click="removeFriend(friend._id, friend.username)")
					i.fa.fa-comment-o(ng-click="chat.startChat(friend._id)")
	
	.found-users.animated(ng-class="{fadeInUp : searchingUsers, fadeOutDown : !searchingUsers}", ng-show="showUsersFoundBox")
		.found-users-area
			.each-found-user
				div(ng-hide='foundUsers') No user found
				div(ng-show='foundUsers', ng-repeat="user in searchedUsers", class='user-found') 
					div: span(ng-class="[user.status, status{{user.id}}]")
					div {{user.username}}
					div
						i.fa.fa-comment-o(ng-click="chat.startChat(user.id)")
						i.fa.fa-user-plus(ng-if="!user.alreadyFriend", ng-click="addFriend(user)")
	.search-users
		input.form-control(ng-keyup="searchUsers(searchUsername)", ng-blur="", ng-model="searchUsername", placeholder="Search for user...", aria-describedby="basic-addon1")