table.table.table-striped
	thead
		tr
			th Action
			th Key
	tbody
		tr
			td Visual Mode
			td v
		tr
			td Deselect/Exit Visual Mode
			td ESC
		tr
			td Delete Selected
			td Delete
		tr
			td Close/Open Menu
			td m