.main, .sidebar
    padding 10px !important
.friends-area 
    height 100%
    position relative


.sidebar 
    padding-bottom: 65px !important;


.sidebar, .user-info
    position relative
    > div
        width 100%
        background-color #111
        padding 5px 8px
        .title
            font-size 21px  
            border-bottom 1px solid #555
            margin-bottom 15px
            padding-bottom 5px
.user-info
    span 
        display inline-block
        width 50%
        margin-bottom 5px


 .friends 
    .add-friend
        cursor pointer
    .friend 
        height 30px
        > div
            float left
            &:first-child 
                width 9%
            &:nth-child(2)
                width 70%
            &:last-child 
                width 21%
                i 
                    float right
                    cursor pointer
                    margin-left 8px

        
.search-users 
    bottom 10px
    position absolute
    width 100%
    left 0
    padding 0 10px
    input 
        background-color #121212
        border 1px solid #555
    span
        cursor pointer
        &:hover
            background-color #111
.found-users 
    background-color #111
    height 100px
    font-size 20px
    cursor default
    position absolute
    bottom 45px
    width 100%
    left 0
    padding-left 10px
    padding-right 10px
    padding-top 10px
    .found-users-area
        overflow-y auto
        border-right 1px solid #555
        border-top 1px solid #555
        border-left 1px solid #555
        padding 10px
        height 100%
    i
        cursor pointer
    .user-found
        height 30px
        > div
            float left
            &:first-child 
                width 9%
            &:nth-child(2)
                width 70%
        > div:last-child 
            width 21%
            i 
                float right
                margin-left 8px

.found-context-menu
    position fixed
    background-color #111
    width 200px
    font-size 15px
    display none

    i
        width 20%
        text-align center
    > div 
        padding 10px
        cursor pointer
        &:hover
            background-color #380B0B
