.status 
    display inline-block
    width 20px
    height 20px

.fa 
    cursor pointer
     
.status.offline, .status.online, .status.active, .status.away, .status.idle
    width 15px
    display inline-block
    height 15px
    border-radius 100%
    border 1px solid #111
.status.offline
    background-color #981717
.status.online, .active
    background-color green
.status.offline-important
    background-color #981717 !important
.status.online-important, .status.active-important
    background-color green !important
.status.idle
    background-color #FFB800
.status.idle-important
    background-color #FFB800 !important

 
.splash 
    position absolute
    z-index 1
    width 100%
    height 100%
    background-color rgba(60, 58, 58, 0.1)
    left 0
    top 0

.add-user 
    position relative
    .add-user-form 
	    position absolute
	    width 400px
	    background-color #aaa
	    padding 20px
	    right 39px
	    z-index 2
	.add 
		float right
		height 40px
		width 40px 
		background-color #eee  
		color rgb(74, 72, 72) 
		text-align center
		font-size 30px
pre
	width 500px
	height 150px
	overflow auto
.edit-delete 
	> div
		float left
		width 44%
		background-color #222
		text-align center
		font-size 18px
		padding 2px
		cursor pointer
	.delete
		margin-left 6%
		color rgb(156, 5, 5)
	


