body, html
	background #333 
	height 100%
	color white 
.right
	float right
.left
	float left
.pointer
	cursor pointer
.map-area
	canvas
		margin 100px
		border 1px solid #777	


	
.tooltip-inner
	background #555 !important
.tooltip-arrow
	border-top-color #555 !important
.tooltip
	z-index 10 !important
	
.map-creator  
	height 100%
	overflow auto
	.zoom 
		background-color #3949D6
		padding 10px
	

	.zoom.disabled 
		background-color #434141
		color #858484
	
	.visual-mode 
		height 40px
		background-color #6A1E1E
		padding 10px
		position fixed
		margin-left 0px
		width 100%
		text-align center
		color white
		z-index 2
	.visual-mode-menu 
		width 200px
		z-index 1
		left 60%
		position fixed
		box-shadow 0 0 10px black
		background-color #222
		color white
		top 50%
		.title 
			padding 5px
			border-bottom 1px solid #000
			cursor move
			cursor -webkit-grab
			cursor -moz-grab
			&.moving
				cursor -webkit-grabbing
				cursor -moz-grabbing
	

		.body 
			padding 5px
			height 50px
			border-top 1px solid#555
			padding-top 8px
	

		.item 
			padding 5px 10px
			border 1px solid #3B2D2D
			float left
			background-color #3E2C2C
			margin-right 10px
			cursor pointer
			&.selected
				background #301111

	
	.currentItem 
		display none
		z-index 9999
		top 10px
		border 1px solid black
		position absolute
		left 40px
		background-color #E3E3E3
		padding 5px
		border-radius 5px
		text-align center
		&.cantLay 
			background #973B3B
			color white
		img 
			border 1px solid black
			width 50px
			height 50px

	.menu-hidden
		color white
		background-color #222
		width 35px
		height 500px
		position fixed
		top 50%
		margin-top -250px
		text-align center
		display none
		padding-top 10px
		z-index 10
		cursor pointer
	.dimensions 
		position fixed
		right 0
		color white
		background-color #4A73FF
		padding 10px
		top 50%
		margin-top -50px
		height 100px
		z-index 1


		input 
			&[type=number]
				color black
			width 50px
			padding 5px
			border-radius 5px
			border 1px solid black

	.resources 
		margin-bottom 10px
		.images
			margin-top 10px

		img
			width 50px
			height 50px
			cursor pointer
		span
			display inline-block
			width 9%
			text-align center
			div
				display inline-block
				height 100%
				padding 10px
				&.selected
					background #444
					border 1px solid black
					border-radius 5px

		
	.menu-container 
		border-right 1px solid #777
		border-bottom 1px solid #777
		border-top 1px solid #777
		color white
		background-color #222
		width 400px
		height 500px
		position fixed
		top 50%
		margin-top -250px
		z-index 10
		.info 
			position absolute
			bottom 0
			height 15%
			border-top 1px solid #444
			width 100%
			box-shadow 0 -1px 1px #000

			> div 
				float left
				width 20%
				padding 5px
			span 
				display inline-block
				margin-bottom 5px
				padding-bottom 5px
			.save 
				position absolute
				right 0
				height 100%
				background-color #5A1B1B
				text-align center
				padding-top 27px !important
			
			
			
			
		.minimize 
			height 36px
			position absolute
			right 0
			height 40px
			padding 12px 9px
			background-color #333
			width 31px
			cursor pointer
		.side-menu 
			height 76%
			overflow auto
			
			
		.nav 
			border-bottom 1px solid #000
			box-shadow 0 1px 4px 1px #333

			.nav-item 
				float left
				display flex
				height 100%
				padding 10px
				cursor pointer
				border-right 1px solid black
				box-shadow 1px 0 1px 0px #555
				&.selected
					background #333
				&:hover 
					background-color #333
		.title
			border-bottom 1px solid #444
			padding 5px 10px
			.create 
				float right
				cursor pointer
				margin-top 2px
		.body
			padding 10px
		.item
			padding 5px
			cursor pointer
			img
				width 50px
				height 50px
				padding 8px
			&.selected
				background #111
			&:hover
				background #111
		ul
			padding 0
			margin 0
		li
			list-style none
			padding 5px
			cursor pointer
			&.selected
				background #111
			&:hover
				background #111


// Bootstrap overrides
.table-striped>tbody>tr:nth-of-type(odd) 
	background-color #404040 !important


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th 
	border-top 1px solid #555 !important


.table>thead>tr>th 
	border-bottom 2px solid #555 !important

