.character-select
    .characters 
        img
            width 80px
            height 80px
            cursor pointer
            padding 10px
            &.selected 
                border 1px solid #793131
                background #000
        > div
            margin-right 50px
    .account
        position absolute
        top 5px
        right 20px
        color #222
        font-size 50px
        text-shadow 0px 0px 2px black, 0px 0px 3px #aaa
        cursor pointer
    .play 
        position absolute
        bottom 10px
        left 50%
        margin-left -50px
        width 100px
    

    .play input 
        width 100%
    


