.loader
    position absolute
    z-index 9999
    background #222
    .loader-gif
        width 200px
        height 50px
        text-align center
        position absolute
        top 50%
        margin-top -25px 
        left 50%
        margin-left -100px