.screen-timer
	position absolute
	z-index 2
	.timer
		height 100%
	
		.num
			font-size 60px
			text-align center
			background-color #222
			height 108px
			position absolute
			top 50%
			line-height 100px
			margin-top -50px
			box-shadow 0 0 10px 4px
			left 50%
			margin-left -55px 
			width 110px
