extends layout

block content
	.container(ng-controller="manageUser")
		.splash(ng-show="showUserForm", ng-click="showUserForm = false")
		.add-user
			form.add-user-form(ng-show="showUserForm", ng-submit="addUser()")
				.username.form-group
					label(for="username") Username
					input.form-control(focus-me="showUserForm", id="username", ng-model="username", name="username")
				.password.form-group
					label(for="password") Password
					input.form-control(id="password", ng-model="password", name="password")
				.submit.form-group
					input.btn.btn-primary(type='submit')
			.add(ng-click="showUserForm = !showUserForm"): i.fa.fa-plus
		table.table.table-striped
			thead
				tr
					th Username
					th isAdmin
			tbody
				tr.animated.fadeIn(ng-hide="user{{user._id}}", ng-repeat="user in users")
					td {{user.username}} {{user.admin}}
					td(ng-if="user.admin") 
						input(type="checkbox", ng-click="toggleAdmin(user._id, user.admin)", checked)
					td(ng-if="!user.admin")
						input(type="checkbox", ng-click="toggleAdmin(user._id, user.admin)")

					td 
						.edit
							i.fa.fa-pencil
						.delete
							i.fa.fa-trash(ng-click="deleteUser(user._id)")
