.home.menu
	.header: h1 Welcome To Assassin's Landing
		.right-header
			| XP {{home.user.xp}} Gold {{home.user.gold}}
			| &nbsp;&nbsp;
			a(href="/logout") Log Out
	.body
		.main
		.sidebar
		.bottom: center: a(href="/#/game"): input.btn.btn-danger.wide-button(type="button", value="Play")
