.home.menu
	.header: h1 Welcome To Assassin's Landing #{session.account.firstName}
		span.no-game.alert.alert-danger(ng-if='noInstance') Game Not Available!
		.right-header
			| 
			| XP #{session.account.xp} Gold #{session.account.gold}
			| &nbsp;&nbsp;
			a(href="/logout") Log Out
	.body
		.main
		.sidebar
		.bottom: center 
			a.game-selects(href="/#/game?players=2"): input.btn.btn-danger.wide-button(type="button", value="Play 1 vs 1")
			a.game-selects(href="/#/game?players=4"): input.btn.btn-danger.wide-button(type="button", value="Play 2 vs 2")
