doctype html
html(lang='en', ng-app="site")
	head
		meta(charset='UTF-8')
		title Assassins Landing
		script(src='/lib/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href='/css/build/site/main.css')
		link(rel="stylesheet", href="/lib/fontawesome/css/font-awesome.min.css")
	body
		.menu-cover
		include ../utils/loader
		block content

	script(src="/lib/angular/angular.min.js")
	script(src="/lib/angular-route/angular-route.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-sanitize.min.js")
	script(src="/site/js/app.js")
	script(src="/site/js/account.js")
	script(src="/site/js/home.js")
	script(src="/site/js/game.js")
		