doctype html
html(lang='en', ng-app="site")
	head
		meta(charset='UTF-8')
		title Assassins Landing
		script(src='/lib/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href='/css/build/site/main.css')
		link(rel="stylesheet", href="/lib/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/lib/animate.css")
		script(src='/socket.io/socket.io.js')
	body
		if session.account.admin
			include ../admin/nav
		.menu-cover
		include ../utils/loader
		include ../utils/message
		block content

		script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
		script(src="/lib/angular/angular.min.js")
		script(src="/lib/angular-animate/angular-animate.min.js")
		script(src="/lib/angular-route/angular-route.min.js")
		script(src="/lib/angular-sanitize/angular-sanitize.min.js")
		script(src="/lib/ng-context-menu/dist/ng-context-menu.min.js")
		script(src="/site/js/app.js")
		script(src="/site/js/account.js")
		script(src="/site/js/session.js")
		script(src="/site/js/chatService.js")
		script(src="/site/js/ngEnter.js")
		script(src="/site/js/chat.js")
		script(src="/site/js/friends.js")
		script(src="/site/js/home.js")
		script(src="/site/js/game.js")
		script(src="/site/js/gameStats.js")
		script(src="/site/js/message/message.js")
		script(src="/site/js/message/messageCtrl.js")
		script(src="/site/js/angulario.js")
		