.account.menu.none
	.accountInfo
		.left
			.accountUsername
				| Username: 
				span.username 
			.accountEmail
				| Email: 
				span.email 
		.right
			.accountName
				| Name: 
				span.firstName
				| &nbsp;
				span.lastName 
			.accountXP
				| Experience: 
				span.xp 
			.accountGold
				| Gold: 
				span.gold 
	.start-game
		input.start.btn.btn-danger(type="button", value="Start Game")
		