center.canvas-controls
	input.btn.btn-info.small(type="button", value="Small")
	input.btn.btn-info.medium(type="button", value="Medium")
	input.btn.btn-info.large(type="button", value="Large")
	input.btn.btn-info.full(type="button", value="Full Screen")