<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Login
	link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
	style.
		body {
		    background-color: #222 !important;
		    height: 100%;
		    color: white !important;
		}

		html {
		    height: 100%;
		}

		.login {
		    width: 600px;
		    background-color: #333;
		    padding: 15px;
		    position: absolute;
		    left: 50%;
		    margin-left: -300px;
		    top: 50%;
		    margin-top: -150px;
		    box-shadow: 0px 0px 10px 10px black;
		    border-radius: 5px;
		}
body
	.login.menu
		.header: h2 Login
		.main-body
			form(action="login", method="POST")
				.form-group
					label(for="username") Username
					input.form-control(class="username", id="username", name="username", placeholder="Type username...")
				.form-group
					label(for="password") Password
					input.form-control(class="password", id="password", name="password", type="password", placeholder="Type password...")
				.form-group
					input.btn.btn-primary(type="submit", id="submit", value="Login")
			if error
				.alert.alert-danger Wrong credentials
