.login.menu.none
	h1 Login
	form
		.form-group
			label(for="username") Username
			input.form-control(class="username", id="username", placeholder="Type username...")
		.form-group
			label(for="password") Password
			input.form-control(class="password", id="password", type="password", placeholder="Type password...")
		.form-group
			input.btn.btn-primary(type="submit", value="Login")
