.message.animated.fadeIn(ng-show="showMessage", ng-controller="messageCtrl as msg")
	.message-box.animated.bounceInDown()
		.message-area {{message || "You are in a game instance, are you sure you want to leave this page?"}}
		.message-button-area
			.ok(ng-if="messageType === 'ok'"): input.btn.btn-primary(type='button', value="Ok")
			.ok-cancel(ng-if="messageType === 'okcancel'")
				input.btn.btn-primary(type="button", value="Ok")
				input.btn.btn-danger(type="button", value="Cancel")
			.yes-no(ng-if="!messageType")
				input.btn.btn-primary(type="button", value="Yes", ng-click="msg.hideMessage()")
				input.btn.btn-danger(type="button", value="No", ng-click="msg.hideMessage()")
