.table-striped>tbody>tr:nth-of-type(odd)
    background-color #333

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th 
    border-top 1px solid black

.btn-danger 
	border-radius 0px
	background-color #A40F0F
	border 1px solid #A40F0F
	// &:hover 
	// 	background-color #E10606

.alert 
    padding 10px
    border-radius 6px


.alert-danger 
    background-color #DA6969
    color #222
    font-size 18px
    border-color #424242
    box-shadow inset 0 0 10px 0 black
