html, body 
	height 100%
	background-image url("/img/bg3.jpg")
	background-size 100% 100%
	padding 0
	margin 0
*
	box-sizing border-box
.left
	float left
.right 
	float right 
.black
	background black
.none
	display none 
.btn-primary 
	border-radius 0px
	background-color #234DBA
	border 1px solid #2F4589
	&:hover
		background #1C3DA5
.wide-button
	padding-left 50px
	padding-right 50px
iframe
	background #222

.no-game 
	margin-left 12%
	position absolute
	top 4%