.viewport, .menu, .menu-cover
    // bottom 50px
    // top  150px
    // left50px 
    // right50px;
    width 1200px 
    height 600px
    left  50%
    margin-left -600px
    top  50%
    margin-top -300px
    box-shadow 0 0 4px 2px black
    border 1px solid black
    position absolute
    overflow hidden

.offline, .online, .active, .away, .idle
    width 15px
    display inline-block
    height 15px
    border-radius 100%
    border 1px solid #111
    vertical-align middle
    margin-right 5px
.offline
    background-color #981717
.online, .active
    background-color green
.offline-important
    background-color #981717 !important
.online-important, .active-important
    background-color green !important
.idle, .away
    background-color #FFB800
.idle-important, .away-important
    background-color #FFB800 !important

.menu-cover 
    position absolute
    z-index 12
    pointer-events none 
    box-shadow inset 0 0 7px 0px rgb(166, 164, 164)
.menu-clear
    background none
.viewport-menu
    width 100% 
    height 100%
    color white
    pointer-events none
.menu
    z-index 1
    background-color #222
    color white

    .small-text
        font-size 16px !important
    .title
        font-size 20px
        border-bottom 1px solid #565656
    
    .header
        padding 5px 20px
        background #333
        height 80px
        border-bottom 1px solid black
        .right-header
            float right
            font-size 16px
            line-height 35px
    .main-body
        border-top 1px solid #555
        padding 50px 
    .body
        border-top 1px solid #555
        height 520px
        > .main, > .sidebar
            float left
            height 100%
        .main
            padding 20px
            width 70% 
            border-right 1px solid black
            padding-bottom 50px
        .sidebar
            padding 20px
            width 30%
            border-left 1px solid #555
            padding-bottom 50px;
        .bottom
            padding 2px
            position absolute
            bottom 0
            height 50px
            border-top 1px solid #555
            line-height 38px
            box-shadow -1px 0 2px 2px #000
            width 100%
            background #272727
            .game-selects
                margin-right 50px
.link
    color rgb(83, 70, 70)
    text-shadow 1px 1px 2px black, -1px -1px 2px rgb(196, 196, 196)
    &:hover
        color #672929